#rainbowContainer {
    height: 18px;
    border: 1px solid black;
}

#rainbow {
    width: 1px;
    height: 18px;
    float: left;
    background: url('rainbow.png') repeat;
}

#nyanCat {
    float: right;
    position: absolute;
    width: 32px;
    height: 20px;
    background: url('icon_nyan.png');
    background-position: 32px 0px;
}
